@media screen and (max-width: 768px) {
    body {
        margin:0;
        
    }
    header h1 {
        width:auto;
        text-align: center;
    }

    header nav {
        background-color: #FFF;
        opacity: 90%;
    }

    #closeCross {
        padding-left:60px;
    }

    header nav ul {
        list-style: none;
        padding-left:60px;
    }

    header nav ul li {
        padding-bottom:30px;
    }

    header nav ul li a {
        text-decoration: none;
        color: #3C3C3C;
    }

    #logoReseaux {
        padding-left:60px;
    }

    #bgImage{
        background-image: url(../../img/);
    }

} 

@media screen and (max-width: 1024px) {
    
} 

@media screen and (max-width: 192px) {
    
} 