@media screen and (max-width: 768px) {
    body {
        margin:0;
        
    }
    header h1 {
        width:auto;
        text-align: center;
    }

    #pictureHeader {
        height: 100vh;
        width: 100%;
        background-image: url(../../img/home.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    #pIconMenu {
        position: absolute;
        top: 60px;
        left: 60px;
    }

    #mainLogo {
        position:absolute;
        top:35%;     
        width: 100%;
        text-align: center;;   
    }

    #mainLogo img {
        width:215px;
    }

    header nav {
        
        background-color: #FFF;
        opacity: 90%;
        position: absolute;
        top: 0;
        width:80%;
        left: -1000px;
        height:100vh;
    }

    #closeCross {
        padding-left:60px;
        padding-top:60px;
    }

    #plogo {
        text-align: center;
    }
    p #logo {
        width:100px;
        
    }

    header nav ul {
        list-style: none;
        padding-left:60px;
    }

    header nav ul li {
        padding-bottom:30px;
    }

    header nav ul li a {
        text-decoration: none;
        color: #3C3C3C;
    }

    #logoReseaux {
        padding-left:60px;
    }

    #logoReseaux img:first-child {
        padding-right:30px;
    }

    #scrollButton {
        position: absolute;
        top:90%;
        width:100%;
        text-align: center;
    }

   

} 

@media screen and (max-width: 1024px) {
    
} 

@media screen and (max-width: 192px) {
    
} 